<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<style>
  .dashboard-bg {
    background: url("{% static  drawing.url %}") no-repeat;
    width: {{ drawing.width }}px;
    height: {{ drawing.height }}px;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: auto;
  }


  .hotspot {
    position: absolute;
    display: block;
    cursor: pointer;
    /* Make it visible for debugging */
    background: rgba(255, 0, 0, 0.3);
  }
</style>
<div class="dashboard-bg">
  {% for hs in hot_spots %}
  <a href="{% url 'core:equipment-tag-detail' hs.equipment_tag_ID %}" class="hotspot" style="top: {{ hs.top }}px;
   left:  {{ hs.left }}px; width: {{ hs.width }}px; height: {{ hs.height }}px;"></a>
{% endfor %}
</div>
</body>
</html>