# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal


# Environment
.env
.env.*

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# VSCode (if used)
.vscode/