asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
colorama==0.4.6
defusedxml==0.7.1
dj-database-url==3.1.2
Django==6.0.6
django-bootstrap-icons==0.9.0
et_xmlfile==2.0.0
gunicorn==26.2.0
idna==3.18
numpy==2.5.2
openpyxl==3.1.5
pandas==3.0.5
pillow==12.2.0
python-dateutil==2.9.0.post0
qrcode==8.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
